<nav>
	<a href="/" class="nav-icon" aria-label="homepage" aria-current="page">
		<img src="./img/Babarcar.png" alt="chat icon"/>
		<span>BaBarCar</span>
	</a>

	<div class="main-navlinks">
		<button type="button" class="hamburger" aria-label="Toggle Navigation" aria-expanded="false">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="navlinks-container">
			<a href="/covoiturage" aria-current="page">Covoiturage</a>
			<a href="/bus">bus</a>
			<a href="https://blablacardaily.com/">Covoiturage du quotidien</a>
		</div>
	</div>

	<div class="nav-authentication">
		{% if app.user %}
			<a href="/profil" class="user-toggler" aria-label="Sign in page">
				<img src="./img/user.svg" alt="user icon"/>
			</a>
		{% else %}
			<a href="/login" class="user-toggler" aria-label="Sign in page">
				<img src="./img/user.svg" alt="user icon"/>
			</a>
		{% endif %}
		<div class="sign-btns">
			{% if app.user %}
				<button onclick="window.location.href = '/recherche';" type="button">Rechercher</button>
				<button onclick="window.location.href = '/publication';" type="button">Publier un trajet</button>
				<div class="user-toggle dropdown">
					<button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-user"></i>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="/profil">Profil</a>
						</li>
						<li>
							<a class="dropdown-item" href="/logout">Se déconnecter</a>
						</li>
					</ul>
				</div>

			{% else %}
				<button onclick="window.location.href = '/recherche';" type="button">Rechercher</button>
				<button onclick="window.location.href = '/login';" type="button">Connexion</button>
			{% endif %}

		</div>
	</div>
</nav>
