{% extends 'base.html.twig' %}

{% block title %}BaBarCar
{% endblock %}

{% block body %}

	<div class="container_homepage row justify-content-center">
	<h1 class="titre-homepage col mt-5 text-center">Un vaste choix de trajets à petits</h1>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-5 t-3 container_homepage_promo"></div>
			<div class="col-5 m-auto">
				<h2>Recevez jusqu'à 100 € de Bonus Covoiturage !</h2>
				<p>Conducteurs, conductrices, bonne nouvelle : vos bonnes habitudes sont récompensées !
								Bénéficiez du Bonus Covoiturage en réalisant 3 covoiturages en 3 mois, voir les conditions d'éligibilité.</p>
				<button class="btn btn-primary">En savoir plus</button>
			</div>
		</div>
	</div>

{% endblock %}
