.container_homepage {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/img/carpool_blablabus_large-e3d8eff32c13cdafc080..svg");
  --bs-gutter-x : 0rem !important;
}

.container_homepage_promo {
  height: 70vh;
  // background-position: center;
  background-repeat: no-repeat;
  // background-size: cover;
  background-image: url("../../public/img/esc_bbc-aad142670044d99e2f66..svg");
}

.titre-homepage {
  color: white;
  font-size: 60px;
}
